@import './../../../../scss/color.scss';
@media (min-width: 768px) {
    #dashboard-page:not(.sidebar-mini-md) {
      .content-wrapper,
      .main-footer,
      .main-header {
        transition: margin-left 0.3s ease-in-out;
        margin-left: 250px;
      }
    }
  }
.hide-sidebar{
  margin-left: 250px;
}
.content-wrapper{
  height: inherit;
  background-color: $light-background;
}