<div class="modal-container">
    <div class="modal-header">
        <h5 class="modal-title">Add To Processing</h5>
        <button type="button" class="close" (click)="onCilckCancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #proccessingForm="ngForm">
            <div class="form-row">
                <div class="col-2">
                    <label class="form-control-label">Supplier : </label>
                </div>
                <div class="col-2">
                    <span>{{details.supplierName}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                    <label class="form-control-label">Commodity : </label>
                    
                </div>
                <div class="col-2">
                    <span>{{details.commodity}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                    <label class="form-control-label">Sub Commodity : </label>
                    
                </div>
                <div class="col-2">
                    <span>{{details.subCommodity}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-2 d-flex align-items-center">
                    <label class="form-control-label">Quantity : </label>
                </div>
                <div class="col-2">
                    <mat-form-field class="cstm-form-ctrl">
                        <mat-label>Quantity</mat-label>
                        <input type="number" matInput placeholder="Package Size" name="packageSize" #quantityAdded="ngModel"
                        appMaxValidator="{{details.quantity}}" [(ngModel)]="details.quantityAdded" required>
                    </mat-form-field>
                    <div *ngIf="quantityAdded.invalid && (quantityAdded.dirty || quantityAdded.touched)" class="alert alert-danger">
                        <small *ngIf="quantityAdded.errors.required" class="form-text text-muted">Please Enter Quantity
                        </small>
                        <small *ngIf="quantityAdded.errors.max" class="form-text text-muted">Enter amount less than total amount </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                    <label class="form-control-label">Total Quantity : </label>
                    
                </div>
                <div class="col-2">
                    <span>{{details.quantity}}</span>
                </div>
            </div>
           
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCilckCancel()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!proccessingForm.form.valid" (click)="onClickSave()">Submit</button>
    </div>
</div>