<div class="container-fluid">
    <h2>Commodity & Sub-Commodity</h2>
    <div class="d-flex pull-right">
        <button mat-raised-button color="primary" (click)="onClickAddCommodity()">Add</button>
    </div>
    <div class="mat-elevation-z8">

        <table id="DataPreview" mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8"
            width="100%">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row;let i = index"> {{paginator.pageIndex * paginator.pageSize + i + 1}}  </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.CommodityName}} </td>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let row">
                    <i class="fa fa-edit mx-2" (click)="onClickAddCommodity(row.CommodityID)"></i>
                    <i class="fa fa-trash mx-2" (click)="onClickRemoveCommodity(row.CommodityID)"></i>
                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                        *ngIf="element.SubCommodities.length > 0">
                        <mat-table class="subCommodityTable-table mat-elevation-z8" [dataSource]="element.SubCommodities">
  
                            <ng-container matColumnDef="id">
                                <div *matHeaderCellDef>ID</div>
                                <div *matCellDef="let elem">{{elem.SubCommodityID}}</div>
                            </ng-container>
                          
                            <ng-container matColumnDef="name">
                                <div *matHeaderCellDef>SubCommodityName</div>
                                <div class="description-cell"
                                          *matCellDef="let elem">{{elem.SubCommodityName}}</div>
                            </ng-container>
                          
                            <ng-container matColumnDef="color">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                <td mat-cell *matCellDef="let row">
                                    <i class="fa fa-edit mx-2" (click)="onClickAddSubCommodity(row.SubCommodityID)"></i>
                                    <i class="fa fa-trash mx-2" (click)="onClickRemoveSubCommodity(row.SubCommodityID)"></i>
                                </td>
                            </ng-container>
                                            
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                            
                        </mat-table>
                        
                    </div>
                </td>
            </ng-container> 
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === row" (click)="expandedElement = row">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

        </table>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>