nav{
    background-color:#073107;
    height: 80px;
    display: flex;
    margin: 0px;
    
    a{
        color: white;
        text-decoration: none;
        font-size: 32px;
        font-weight: 600;
        align-self: center;
    }
}