<div class="modal-header">
    <h5 class="modal-title">Add Customer</h5>
    <button type="button" class="close" (click)="closeDialog()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body scroll-dialog">
    <form class="col mt-2" #customerForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="customer.CustomerName" #customerName="ngModel" name="customerName" class="form-control"
                id="customerName" placeholder="Customer Name" maxlength="50" required />
            <div *ngIf="customerName.invalid && (customerName.dirty || customerName.touched)" class="alert alert-danger">
                <small *ngIf="customerName.errors.required" class="form-text text-muted">Customer Name is
                    required.</small>
                <small *ngIf="customerName.errors.maxlength" class="form-text text-muted">Customer Name must be at
                    most 50
                    characters long.</small>
            </div>
        </div>
        
        <div class="form-group">
            <label for="contact">Contact Number</label>
            <input type="number" appContactValidator [(ngModel)]="customer.ContactNumber" name="contact" class="form-control"
                id="contact" placeholder="Contact Number" #contact="ngModel" required />

            <div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="alert alert-danger">
                <small *ngIf="contact.errors.required" class="form-text text-muted">Contact Number is
                    required.</small>
                <small *ngIf="contact.errors.invalidContact" class="form-text text-muted">Contact Number
                    must be of 10
                    digit</small>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeDialog()">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSaveOrUpdate()"
        [disabled]="!customerForm.form.valid">Submit</button>
</div>
<app-loader class="example-margin" [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true"
    [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
</app-loader>