<div class="content-container">
    <div class="content-header">
        <h2>Add Customer</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-9 card m-3 p-2">
            <form class="col" #supplierForm="ngForm">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" [(ngModel)]="supplier.firstName" #firstName="ngModel" name="firstName"
                        class="form-control" id="firstName" placeholder="First Name" maxlength="50" required />
                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                        <small *ngIf="firstName.errors.required" class="form-text text-muted">First Name is
                            required.</small>
                        <small *ngIf="firstName.errors.maxlength" class="form-text text-muted">First Name must be at
                            most 50
                            characters long.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="middleName">Middle Name</label>
                    <input type="text" [(ngModel)]="supplier.middleName" name="middleName" class="form-control"
                        id="middleName" placeholder="Middle Name" maxlength="50" #middleName="ngModel" required />
                    <div *ngIf="middleName.invalid && (middleName.dirty || middleName.touched)"
                        class="alert alert-danger">
                        <small *ngIf="middleName.errors.required" class="form-text text-muted">Middle Name is
                            required.</small>
                        <small *ngIf="middleName.errors.maxlength" class="form-text text-muted">Middle Name must be at
                            most 50
                            characters long.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" [(ngModel)]="supplier.lastName" name="lastName" class="form-control"
                        id="lastName" placeholder="Last Name" maxlength="50" #lastName="ngModel" required />
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                        <small *ngIf="lastName.errors.required" class="form-text text-muted">Last Name is
                            required.</small>
                        <small *ngIf="lastName.errors.maxlength" class="form-text text-muted">Last Name must be at most
                            50
                            characters long.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact">Contact Number</label>
                    <input type="number" appContactValidator [(ngModel)]="supplier.contactNo" name="contact" class="form-control"
                        id="contact" placeholder="Contact Number" #contact="ngModel" 
                        required />
                    
                    <div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="alert alert-danger">
                        <small *ngIf="contact.errors.required" class="form-text text-muted">Contact Number is
                            required.</small>
                        <small *ngIf="contact.errors.invalidContact"
                            class="form-text text-muted">Contact Number must be of 10 digit</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" [(ngModel)]="supplier.email" name="email" class="form-control"
                        id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="100" #email="ngModel" />
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <small *ngIf="email.errors.pattern" class="form-text text-muted">Please enter valid
                            email</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea class="form-control" [(ngModel)]="supplier.address" name="address" id="address"
                        placeholder="Address" #firstName="ngModel"> </textarea>
                </div>
                <button type="button" class="btn btn-primary" (click)="onSaveOrUpdate()">Submit</button>
            </form>
        </div>
    </div>
</div>