<div class="content-container">
    <div class="content-header">
        <h2>Suppliers</h2>
    </div>
    <!-- <div class="row ">
        <input type="text" class="inline-form-control" [(ngModel)]="searchString"/>
        <button class="btn btn-primary mr-3 my-3 ml-auto" (click)="onClickAddSuplier()">Add Supplier</button>

    </div> -->
    <div class="form-inline m-2 justify-content-end">
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchString" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0"(click)="onClickAddSuplier()" type="button">Add Supplier</button>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Contact No</th>
                <th scope="col">Addres</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of suppliers | search: searchString ">
                <th scope="row">1</th>
                <td>{{supplier.SFname + ' '+ supplier.SMname+' '+ supplier.SLName}}</td>
                <td>{{supplier.SConNo}}</td>
                <td>{{supplier.SAddr}}</td>
            </tr>
        </tbody>
    </table>
</div>