.custom-input{
    border-radius: 0px;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lavender;
}
.login-btn{
    width: 100%;
    border-radius: 22px;
}
.card-body{
    padding:2.5rem;
    margin-top: 1 rem;
}