@import "./scss/color.scss";
body,
html {
  height: auto;
  min-height: 100%;
  margin: 0px;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.content-container {
  padding: 8px 16px;
  background-color: $light-background;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.scroll-dialog{
  overflow-y: auto;
  height: 365px;
}
.mat-dialog-container {
  padding: 0px !important;
  overflow: initial !important;
}
.d-unset{
  display: unset;
}
.cstm-form-ctrl{
  margin-left: 1rem;
}

table.mat-table thead {
  background: #00796b;
  outline: 1px ridge #4b8c8a;
  outline-offset: 0px;
}

.mat-header-cell {
  color: white !important;
  text-align: center;
}

.mat-tooltip {
  margin: 7px !important;
  &.down-side{
      margin: 14px 0 0 !important;
      position: relative;
      overflow: visible !important; 
      &::before{
          content: "";
          position: absolute;
          top: -3px;
          left: 0;
          right: 0;
          margin: auto;
          height: 5px;
          width: 5px;
          background: #0a4841;
          z-index: 999999;
          transform: rotate(45deg);
      }
  }
  background: #0a4841 !important;
}

.mat-sort-header-container{
  justify-content: center;
  .mat-sort-header-arrow{
      color: #fff;
  }
}

.mat-cell {
}

.mat-sidenav {
  width: 215px;
}
.mat-elevation-z8 {
  overflow: auto;
}
.mat-dialog-container{
  height: inherit !important;
}
.form-control-label{
  margin-left: 16px;
}