<div class="container-fluid d-unset">
    <div class="card p-3 m-4">
        <form>
            <h2>Add Inward Stock</h2>
            <div class="formgroup">
                <label class="form-control-label">Supplier : </label>
                <mat-form-field class="cstm-form-ctrl">
                    <mat-select [(ngModel)]="inwardStock.selectedSupplier" name="selectedSupplier"
                        placeholder="Supplier" #singleSelect>
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="search" [(ngModel)]="searchSupplier"
                                (ngModelChange)="applyFilter($event)" name="supplierFilter"></ngx-mat-select-search>
                        </mat-option>

                        <mat-option *ngFor="let supplier of filteredSuppliers" [value]="supplier">
                            {{supplier.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="formgroup">
                <label class="form-control-label">Commodity : </label>
                <mat-form-field class="cstm-form-ctrl">
                    <mat-select [(ngModel)]="inwardStock.selectedCommodity" name="selectedCommodity"
                        (ngModelChange)="onChangeCommodity($event)" placeholder="Commodity" #singleSelect>
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="search" [(ngModel)]="searchCommodity"
                                (ngModelChange)="commodityFilter($event)" name="supplierFilter"></ngx-mat-select-search>
                        </mat-option>

                        <mat-option *ngFor="let commodity of filteredCommodties" [value]="commodity">
                            {{commodity.CommodityName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="inwardStock.selectedCommodity" class="formgroup">
                <label class="form-control-label">SubCommodity : </label>
                <mat-form-field class="cstm-form-ctrl">
                    <mat-select [(ngModel)]="inwardStock.selectedSubCommodity" name="selectedSubCommodity"
                        placeholder="SubCommodity" #singleSelect>
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="search" [(ngModel)]="searchSubCommodity"
                                (ngModelChange)="subCommodityFilter($event)" name="supplierFilter">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let subCommodity of filteredSubCommodities" [value]="subCommodity">
                            {{subCommodity.SubCommodityName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="formgroup">
                <label class="form-control-label">Stock Type : </label>
                <mat-form-field class="cstm-form-ctrl">
                    <mat-select [(ngModel)]="inwardStock.selectedInputStockType" name="selectedInputStockType"
                        placeholder="Input Stock Type" #singleSelect>
                        <mat-option *ngFor="let stockType of intputStockTypes" [value]="stockType.value">
                            {{stockType.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="formgroup">
                <label class="form-control-label">Quality Type : </label>
                <mat-form-field class="cstm-form-ctrl">
                    <mat-select [(ngModel)]="inwardStock.selectedQualityType" name="selectedQualityType"
                        placeholder="Quality Type" #singleSelect>
                        <mat-option *ngFor="let qualityType of qualityTypes" [value]="qualityType.value">
                            {{qualityType.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="formgroup">
                <label class="form-control-label">Package Size : </label>
                <mat-form-field class="cstm-form-ctrl">
                    <mat-label>Package Size</mat-label>
                    <input type="number" matInput placeholder="Package Size" name="packageSize" [(ngModel)]="inwardStock.packageSize" value="10">
                </mat-form-field>
            </div>
            <div class="formgroup">
                <label class="form-control-label">Package Unit : </label>
                <mat-form-field class="cstm-form-ctrl">
                    <mat-label>Package Unit</mat-label>
                    <input type="number" matInput placeholder="Package Unit" name="packageUnit" [(ngModel)]="inwardStock.packageUnit" value="10">
                </mat-form-field>
            </div>
            <div class="formgroup">
                <label class="form-control-label">No Of Bags : </label>
                <mat-form-field class="cstm-form-ctrl">
                    <mat-label>No Of Bags</mat-label>
                    <input type="number" matInput placeholder="No Of Bags" name="noOfBags" [(ngModel)]="inwardStock.noOfBags" value="10">
                </mat-form-field>
            </div>
            <div class="formgroup">
                <label class="form-control-label">Stock Location : </label>
                <mat-form-field class="cstm-form-ctrl">
                    <mat-label>Stock Location</mat-label>
                    <input type="text" matInput placeholder="Stock Location" name="stockLocation" [(ngModel)]="inwardStock.stockLocation" value="10">
                </mat-form-field>
            </div>
            <div class="form-group">
                <label class="form-control-label">Price : </label>
                <mat-form-field class="cstm-form-ctrl">
                    <mat-label>Price</mat-label>
                    <input type="number" matInput placeholder="Price" name="price" [(ngModel)]="inwardStock.price" value="10">
                </mat-form-field>
            </div>
            <div class="form-group">
                <label class="form-control-label">Incoming Date : </label>
                <mat-form-field class="form-control-label">
                    <mat-label>Incoming Date</mat-label>
                    <input matInput [matDatepicker]="picker" name="incommingDate" matInput [max]="maxDate" [(ngModel)]="inwardStock.incommingDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="d-flex pull-right">
                <button mat-raised-button color="primary" class="mx-2" (click)="onClickSave()">save</button>
                <button mat-raised-button color="primary" class="mx-2" (click)="onCilckCancel()">cancel</button>
            </div>
        </form>
    </div>
</div>