<div class="container-fluid">
    <h2>Current Processed Stock</h2>
    <div class="row d-flex">
        <div class="col-md-4 ml-auto">
            <div class="row">
                <div class="col-5">

                    <mat-form-field class="cstm-form-ctrl">
                        <mat-select [(ngModel)]="selectedCommodity" name="selectedCommodity"
                            (ngModelChange)="onChangeCommodity($event)" placeholder="Commodity" #singleSelect>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="search" [(ngModel)]="searchCommodity"
                                    (ngModelChange)="commodityFilter($event)" name="supplierFilter">
                                </ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let commodity of filteredCommodties" [value]="commodity.CommodityID">
                                {{commodity.CommodityName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-5">
                    <div *ngIf="selectedCommodity">

                        <mat-form-field class="cstm-form-ctrl">
                            <mat-select [(ngModel)]="selectedSubCommodity" name="selectedSubCommodity"
                                (ngModelChange)="onChangeSubCommodity($event)" placeholder="SubCommodity" #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="search" [(ngModel)]="searchSubCommodity"
                                        (ngModelChange)="subCommodityFilter($event)" name="supplierFilter">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let subCommodity of filteredSubCommodities"
                                    [value]="subCommodity.SubCommodityID">
                                    {{subCommodity.SubCommodityName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='d-flex'>
        <div class="col-md-2">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </mat-form-field>
        </div>

    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let row;let i = index"> {{paginator.pageIndex * paginator.pageSize + i + 1}}
                </td>
            </ng-container>
            <ng-container matColumnDef="CommodityName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Commodity </th>
                <td mat-cell *matCellDef="let row"> {{row.commodity.name}} </td>
            </ng-container>
            <ng-container matColumnDef="SubCommodityName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Commodity </th>
                <td mat-cell *matCellDef="let row"> {{row.subCommodity.name}} </td>
            </ng-container>
            <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity </th>
                <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
            </ng-container>
            <ng-container matColumnDef="QualityType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quality Type </th>
                <td mat-cell *matCellDef="let row"> {{row.quality}} </td>
            </ng-container>

            <ng-container matColumnDef="IncomingDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Incoming Date </th>
                <td mat-cell *matCellDef="let row"> {{row.incomingDateTime | date: 'dd-MM-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef class="text-center action-cell"> Actions </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                    <!-- <button mat-icon-button matTooltip="Edit" (click)="onClickAddStock(row.InwardStockId)"
                        [disabled]="row.IsEditable==1">
                        <em class="material-icons">edit</em>
                    </button>
                    <button mat-icon-button matTooltip="Edit" (click)="onClickRemoveStock(row.InwardStockId)"
                        [disabled]="row.IsEditable==1">
                        <em class="material-icons">delete</em>
                    </button> -->
                    <button mat-raised-button color="primary" class="ml-auto mr-2" (click)="onClickSell(row.id)">sell</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>